rx-ios-initial-project.xcodeproj/project.xcworkspace
rx-ios-initial-project.xcworkspace
rx-ios-initial-project.xcodeproj/project.xcworkspace/xcshareddata
rx-ios-initial-project.xcodeproj
rx-ios-initial-project.xcworkspace/xcuserdata
rx-ios-initial-project.xcworkspace/xcuserdata/stanislav.xcuserdatad
rx-ios-initial-project.xcworkspace/xcshareddata
rx-ios-initial-project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
rx-ios-initial-project.xcodeproj/project.pbxproj
rx-ios-initial-project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
rx-ios-initial-project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
rx-ios-initial-project.xcworkspace/xcuserdata/stanislav.xcuserdatad/WorkspaceSettings.xcsettings
Podfile
